.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 100vw;
    background-color: #282828;
    padding: 20px;
}


.footer_left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    max-width: 300px;
}  

.footer_left > img {
    max-width: 60px;
    max-height: 60px;
    margin-right: 20px;
    object-fit: contain;
}


.footer_center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer_right {
    flex: 0.3;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer_green:hover {
    color: rgb(139, 194, 51);
}

.footer_songInfo > h4 {
    margin-bottom: 5px;
}

.footer_songInfo > p {
    font-size: 12px;
}

.footer_icon:hover, .footer_green:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}